version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: synapse_db
    restart: always
    environment:
      POSTGRES_USER: synapse_user
      POSTGRES_PASSWORD: synapse_password
      POSTGRES_DB: synapse_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: